@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --def-transition-duration: 0.2s;
  --primary-color: #9e70eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
}

img {
  display: block;
}

button {
  appearance: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
  border-radius: 10rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: background-color var(--def-transition-duration);
}

button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

nav ul a {
  color: #a1a2a3;
  transition: color var(--def-transition-duration);
}

nav ul a:hover {
  color: #e8e8e8;
}

.has-submenu ul {
  transition: opacity var(--def-transition-duration);
}

.has-submenu:hover ul {
  display: block;
}

.has-submenu ul a {
  transition: background-color var(--def-transition-duration),
    color var(--def-transition-duration);
}

.has-submenu ul a:hover {
  background-color: #2c2d2f;
  color: var(--text-hover-color);
}
